Package: com.yourcompany.qrmail
Name: QRMail 2
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Quick Reply for email. Support for iOS 9
Maintainer: velvetmafiaAuthor: Zac Gorak
Section: Tweaks
