Package: net.winneonsword.package
Name: Theme in progress
Version: 1.0
Architecture: iphoneos-arm
Description: Theme in progressDepiction: http://repo.winneonsword.net/packages/package.html
Homepage: http://repo.winneonsword.net
Maintainer: velvetmafia <georgebaker10@icloud.com>
Author: velvetmafia <georgebaker10@icloud.com>
Section: Themes
